<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <%= orquideas.id %> 
        <form action="/admin/editar/<%= orquideas.id %> " method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="" class="form-label">Nombre</label>
                <input value="<%= orquideas.nombre %> " name="nombre" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Clima</label>
                <input value="<%= orquideas.clima_id %> " name="clima" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Precio</label>
                <input value="<%= orquideas.precio %> " name="precio" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Descripcion</label>
                <input value="<%= orquideas.descripcion %> " name="descripcion" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Categoria</label>
                <input value="<%= orquideas.categoria_id %> " name="categoria" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">tamaño</label>
                <input value="<%= orquideas.tamanio_id %> " name="tamanio" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">disponibilidad</label>
                <input value="<%= orquideas.disponibilidad %> " name="disponibilidad" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">flor</label>
                <input value="<%= orquideas.flor %> " name="flor" type="text" class="form-input">
            </div>
            <div class="form-group">
                <label for="" class="form-label">imagen 1</label>
                <input name="imagen" type="file" class="form-input">
                <input type="hidden"  name="oldImagen1"  value="<%= orquideas.imagen1%>">
            </div>
            <div class="form-group">
                <label for="" class="form-label">imagen 2</label>
                <input name="imagen" type="file" class="form-input">
                <input type="hidden"  name="oldImagen2"  value="<%= orquideas.imagen2%>">
            </div>
            <div class="form-group">
                <label for="" class="form-label">imagen 3</label>
                <input name="imagen" type="file" class="form-input">
                <input type="hidden"  name="oldImagen3"  value="<%= orquideas.imagen3%>">
            </div>

            <input type="submit" value="Enviar">
        </form>
    </main>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>