<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="producto-detalle">

                <div class="imagen-detalle">
                    <div class="imagen-detalle-img">
                        <img src="/images/orquideasImages/<%= orquideas.imagen1 %>" alt="">
                    </div>
                    <div class="imagenes-buttom">
                        <div class="img-item">
                            <a href="#" data-id="1">
                                <img src="/images/orquideasImages/<%= orquideas.imagen2 %>" alt="">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="2">
                                <img src="/images/orquideasImages/<%= orquideas.imagen3 %>" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <article class="info-detail">
                    <h1 class="h1-detail">
                        <%= orquideas.nombre %>
                    </h1>
                    <p class="precio-detalle"><strong>
                            <%= orquideas.precio %>
                        </strong>
                    </p>
                    <p class="clima-detail"> <strong>Clima:</strong>
                        <%= orquideas.climas.tipoDeClima %>
                    </p>

                    <h3 class="h3-detail">Descripcion del producto:</h3>
                    <p class="descripcion-detail">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis dolorem ab maiores voluptas!
                        Ipsam iste ipsum perferendis omnis asperiores aut obcaecati fugiat provident natus. Atque
                        quaerat aliquid quod in voluptatem?

                    </p>
                    <div class="info-detail-buttom">
                        <p class="disponibilidad-detail"> <strong>
                                <%= orquideas.disponibilidad %>
                            </strong>

                        </p>
                        <p class="flor-detail"> <strong>
                                <%= orquideas.flor %>
                            </strong>

                        </p>
                    </div>
                    <hr class="hr-detail">
                    <form class="compra-detail">
                        <input class="btn-compra-detail" type="submit" value="Agregar al carrito de compras"></input>
                    </form>
                </article>
            </div>
    
    <%- include('../partials/footer.ejs') %>