<section class="Orquidea">

    <div class="card-img">
        <a href="/usuario/detalle/<%= orquideas.id %>">
            <img class="" src="/images/orquideasImages/<%= orquideas.imagen1 %>" alt="">
        </a>
    </div>
    <article class="card-article">

        <h3 class="h3-product">
            <%= orquideas.nombre %>
        </h3>

        <p class="precio-p"><span>
                <%= orquideas.precio %>
            </span></p>
            <% if ((locals.isLogged && locals.usuarioAdmin) || (usuarioYaLogueado && usuarioAdmin)) { %>
                <div class="ver-detalle">
                    <a class="ver-detalle-a" href="/admin/detalleAdmin/<%= orquideas.id %>">Ver detalle admin</a>
                </div>
             
            <% } %>

    </article>

</section>