<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/headerHome.ejs') %>
        
        <div class="container">
                <% if (orquideas.length > 1) { %>
                <div class="container-top">
                    <div class="estilos-de-pagina">
                        <i class="fas fa-th"></i>
                    </div>
                    <form action="/usuario/resultado" method="get">
                        <input type="search" name="search" id="buscador-home" placeholder=" Buscar...">
                      </form>
                    <div class="pagina">
                        <p class="pagina-texto">Mostrando 1-10 de 30 plantas</p>
                    </div>
                </div>
                <div class="productos-listado">
                    <% orquideas.forEach(orquideas=> { %>
                        <section class="Orquidea" id=<%=orquideas.id %> >
                            <%- include("orquidea.ejs", {orquideas : orquideas}) %>
                          </section>
                            <% }) %>
                </div>
                <% } else { %>


                    <h1>No se encontro la planta, por favor intenta de nuevo </h1>

                    <% } %> 
            </div>
            
            <%- include('../partials/footer.ejs') %>