<%- include("../partials/head.ejs") %>

  <body>
    <div class="contain">
      <div class="slider-home">
        <%- include("../partials/headerHome.ejs") %>
          <div class="text-slider-home">
            Nuestro sitio en linea hecho para ti
          </div>
          <a class="home-home" href="/">home</a>
          <div class="intro-home">
            <p class="intro-text-home">Para nosotros en Orquídeas San Martín tú eres el más importante, por eso hoy
              traemos
              para
              ti nuestra tienda online para que puedas hacer tus pedidos y aumentar tu coleccion de orquideas personal,
              o
              para tu negocio. Somos una empresa con años de experiencia, con un solo objetivo, que tu encuentres el
              producto deseado. En nuestra tienda virtual vas a poder encontrar plantas de todo tipo y para todo gusto,
              pero sobre todo para todo tipo de ocacion, si buscas el regalo perfecto para esa persona especial este es
              tu
              momento de encontrarlo.</p>
          </div>
      </div>

      <div>

      </div>

      <div class="container-top">
        <div class="estilos-de-pagina">
          <i class="fas fa-th"></i>
          <i class="fas fa-list"></i>
        </div>
        <select class="buscar-por-categoria" name="categoria" id="category" class="control">
          <% for (let i=0; i < categorias.length; i++) { %>
            <% if (categorias[i].id===orquideas.categoria_id) {%>

              <option value="<%=categorias[i].id%>" selected>
                <%=categorias[i].categoria%>
              </option>

              <% } else { %>

                <option value="<%=categorias[i].id%>">
                  <%=categorias[i].categoria%>
                </option>

                <% } %>

                  <% } %>
        </select>
        <div class="pagina">
          <p class="pagina-texto">Mostrando 1-10 de 30 plantas</p>
        </div>
      </div>

      <main>
        <h3 class="header-vendidos">Nuestros más vendidos </h3>
        <section class="los-mas-vendidos">
          <div class="container-productos">
            <% orquideas.forEach(orquideas=> { %>
              <% if (orquideas.secciondehome_id===1) { %>
                <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                  <% } %>
                    <% }) %>
          </div>
          <div class="div-buscador">
            <p class="titulo-buscador">¿Qué planta quieres encontrar?</p>
            <input type="search" name="Buscar..." id="buscador-home">
            <ul>
              <% for (let i=0; i < secciones.length; i++ ) { %>
                <li class="categoria">
                  <%=secciones[i].seccion %>
                </li>
                <% } %>
            </ul>
          </div>

        </section>
        <section class="orquideas-florecidas">
          <h3 class="header-orquideas-florecidas">Orquideas florecidas</h3>
          <div class="container-productos-2">
            <% orquideas.forEach(orquideas=> { %>
              <% if (orquideas.secciondehome_id===2) { %>
                <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                  <% } %>
                    <% }) %>
          </div>
        </section>
        <div class="div-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum soluta aspernatur explicabo aut dolores! Ipsa
          dolores error molestiae architecto assumenda accusamus aliquam rerum
        </div>
        <div class="quienes-somos">
          <div class="img-somos-home">
            <img src="/images/LinkedIn cover - 3.png" alt="">
          </div>
          <h1>Quienes somos</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquam voluptate, vero dolorum at
            error cum fuga suscipit culpa omnis cumque illo recusandae veritatis consequuntur provident ipsa in
            officiis non, dolorem obcaecati beatae voluptates veniam iste? Vel commodi aspernatur aliquam?</p>
        </div>
        <div class="container-productos-3">
          <h3 class="header-descuento">En descuento</h3>
          <% orquideas.forEach(orquideas=> { %>
            <% if (orquideas.secciondehome_id===3){ %>
              <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                <% } %>
                  <% }) %>
        </div>
        <section class="mas-plantas">
          <div class="container-productos-4">
            <% orquideas.forEach(orquideas=> { %>
              <% if (orquideas.secciondehome_id===4) { %>
                <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                  <% } %>
                    <% }) %>
          </div>
        </section>
      </main>


      <%- include("../partials/footer.ejs") %>

    </div>
  </body>