<%- include("../partials/head.ejs") %>

  <body>
    <div class="contain">
      <%- include("../partials/headerHome.ejs") %>

        <div>

        </div>

        <div class="container-top">
          <div class="estilos-de-pagina">
            <i class="fas fa-th"></i>
          </div>
          <form action="/" method="post">
            <select class="buscar-por-categoria" name="categoria" id="category" class="control">
              <% for (let i=0; i < categorias.length; i++) { %>
                <% if (categorias[i].id===orquideas.categoria_id) {%>

                  <option value="<%=categorias[i].id%>" selected>
                    <%=categorias[i].categoria%>
                  </option>

                  <% } else { %>

                    <option value="<%=categorias[i].id%>">
                      <%=categorias[i].categoria%>
                    </option>

                    <% } %>

                      <% } %>
            </select>
          </form>
          <div class="pagina">
            <p class="pagina-texto">Mostrando 1-10 de 30 plantas</p>
          </div>
        </div>

        <main>
          <h3 id="masVendidos" class="header-vendidos">Nuestros más vendidos </h3>
          <section class="los-mas-vendidos">
            <div class="container-productos">
              <% orquideas.forEach(orquideas=> { %>
                <% if (orquideas.secciondehome_id===1) { %>
                  <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                    <% } %>
                      <% }) %>
                      <div class="div-buscador">
                        <p class="titulo-buscador">¿Qué planta quieres encontrar?</p>
                        <form action="/usuario/resultado" method="get">
                          <input type="search" name="search" id="buscador-home" placeholder=" Buscar...">
                        </form>
                        <ul>
                          <li class="categoria">
                            <a class="categoria" href="#masVendidos">Nuestros mas vendidos</a>
                          </li>
                          <li class="categoria">
                            <a class="categoria" href="#florecidas">Orquideas florecidas</a>
                          </li>
                          <li class="categoria">
                            <a class="categoria" href="#descuento">En descuento</a>
                          </li>
                          <li class="categoria">
                            <a class="categoria" href="#otras">Otras</a>
                          </li>
                        </ul>
                      </div>
            </div>

          </section>
          <section class="orquideas-florecidas">
            <h3 id="florecidas" class="header-orquideas-florecidas">Orquideas florecidas</h3>
            <div class="container-productos-2">
              <% orquideas.forEach(orquideas=> { %>
                <% if (orquideas.secciondehome_id===2) { %>
                  <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                    <% } %>
                      <% }) %>
            </div>
          </section>
          <!-- <div class="div-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum soluta aspernatur explicabo aut dolores! Ipsa
          dolores error molestiae architecto assumenda accusamus aliquam rerum
        </div> -->
          <div id="quienesSomos" class="quienes-somos">
            <div class="img-somos-home">
              <img src="/images/LinkedIn cover - 3.png" alt="">
            </div>
            <h1>Quienes somos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquam voluptate, vero dolorum at
              error cum fuga suscipit culpa omnis cumque illo recusandae veritatis consequuntur provident ipsa in
              officiis non, dolorem obcaecati beatae voluptates veniam iste? Vel commodi aspernatur aliquam?</p>
          </div>
          <div class="container-productos-3">
            <h3 id="descuento" class="header-descuento">En descuento</h3>
            <div class="enDescuento">
              <% orquideas.forEach(orquideas=> { %>
                <% if (orquideas.secciondehome_id===3){ %>
                  <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                    <% } %>
                      <% }) %>
            </div>
          </div>
          <section id="otras" class="mas-plantas">
            <div class="container-productos-4">
              <% orquideas.forEach(orquideas=> { %>
                <% if (orquideas.secciondehome_id===4) { %>
                  <%- include('../Client/orquideaHome.ejs', {orquideas}) %>
                    <% } %>
                      <% }) %>
            </div>
          </section>
        </main>



    </div>
  </body>
  <%- include("../partials/footer.ejs") %>